COGNITO_CLIENT_ID=7uvbsuakj5vd07eeq7k507eif2

COGNITO_DOMAIN=https://us-east-1gv3nijzai.auth.us-east-1.amazoncognito.com

COGNITO_REGION=us-east-1

COGNITO_USER_POOL_ID=us-east-1_Gv3NIJzAi

DATABASE_URL=postgres://username123:password123@test-db-prod.cqvw2k0sgq1i.us-east-1.rds.amazonaws.com:5432/postgres

NODE_ENV=development

REACT_APP_GRAPHQL_URL=https://awseb--awseb-qtfstuhvgp4v-1642944154.us-east-1.elb.amazonaws.com/graphql

REACT_APP_ORIGIN=https://awseb--awseb-qtfstuhvgp4v-1642944154.us-east-1.elb.amazonaws.com/app

REACT_APP_URL=https://awseb--awseb-qtfstuhvgp4v-1642944154.us-east-1.elb.amazonaws.com/app

SESSION_SECRET=super_secret

SQS_URL=https://sqs.us-east-1.amazonaws.com/563583517916/scrape-requests